<div class="embed-card">
    <iframe src="@Embed.EmbedUrl"
            title="@($"Apple Music player for {ArtistName}")"
            class="embed-frame apple-music-frame"
            loading="lazy"
            width="100%"
            height="150"
            allow="autoplay *; encrypted-media *; fullscreen *"
            sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"></iframe>
    
</div>

@code {
    [Parameter]
    public string ArtistName { get; set; } = string.Empty;

    [Parameter, EditorRequired]
    public SocialEmbedListItem Embed { get; set; } = default!;
}
