<form method="post" action="/auth/logout" class="logout-form">
    <AntiforgeryToken />
    <input type="hidden" name="returnUrl" value="/" />
    <button type="submit" class="logout-form__button">Sign out</button>
</form>
